*{
	margin: 0;padding: 0;text-decoration: none;
}
li{
	list-style-type: none;
}
body{
	margin: 200px;
}
:root{
	--width-image:750px;
	--width-slider:4500px;
	--width-height:400px;
}
/*hide image*/
.slider_box{
	width: var(--width-image);height: var(--width-height);
	border: 1px solid rgba(0,0,0,0.3);
	position: relative;
	overflow: hidden;
}
.slider_box .slider_image{
	width: var(--width-slider);height: var(--width-height);
	position: absolute;
	/*left: -750px;*/
}
.slider_box .slider_image .slider_image_ul{
	width: var(--width-slider);height: var(--width-height);
}
.slider_box .slider_image .slider_image_ul li{
	width: var(--width-image);height: var(--width-height);
	float: left;
}
.slider_box .slider_image .slider_image_ul li img{
	width: var(--width-image);height: var(--width-height);
}
/*spot*/
.slider_spot {
	width: auto;
	height: 10px;
	position: absolute;
	bottom: 20px;
	right: 10%;
	z-index: 2;
}
.slider_spot ul li {
	width: 20px;
	height: 10px;
	float: left;
	margin-left: 10px;
	border-radius:10px;
	box-sizing: border-box;
	border: 3px solid white;
	box-shadow: 0px 0px 10px black;
	-moz-box-shadow: 0px 0px 10px black;
	-webkit-box-shadow: 0px 0px 10px black;
	background-color: gainsboro;
	cursor: pointer;
}
.slider_spot ul .on {
	background-color: red;
}
/*left right button*/
.slider_arrow{
	width: 40px ;
	height: 70px;
	position: absolute;
	top: 45%;
	z-index: 2;
	font-size: 40px;
	line-height: 65px;
	text-align: center;
	display: none;
	color: white;
}

.slider_box:hover .slider_arrow {
	display: block;
	animation: slider_arrow 1s forwards;
}
@keyframes slider_arrow{
	0% {background-color:rgba(0,0,0,0.1);}
    100% {background-color:rgba(0,0,0,0.7);}
}@-moz-keyframes slider_arrow{
	0% {background-color:rgba(0,0,0,0.1);}
    100% {background-color:rgba(0,0,0,0.7);}
}@-webkit-keyframes slider_arrow{
	0% {background-color:rgba(0,0,0,0.1);}
    100% {background-color:rgba(0,0,0,0.7);}
}@-o-keyframes slider_arrow{
	0% {background-color:rgba(0,0,0,0.1);}
    100% {background-color:rgba(0,0,0,0.7);}
}
.slider_right{
	right: 0px;
}
